* {
  box-sizing: border-box;
}

body {
  background: url(../img/lightbulbs.png) no-repeat center center fixed;
  background-size: cover;
}

h1 {
  font-size: 3em;
  margin-top: 0.5em;
  text-align: center;
}

.inputs {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px 0;
  width: 100vw;
}

#title-input, #body-input {
  border: 2px solid #133085;
  margin-top: 0.5em;
  padding: 0.5em;
  width: 35em;
}

#body-input {
  resize: none;
}

textarea, input {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

#save-button {
  background-color: #133085;
  border: none;
  color: #fff;
  margin-top: 0.5em;
  padding: 0.5em;
  width: 35em;
}

.search-bar {
  display: flex;
  justify-content: center;
  width: 100vw;
}

#search-input {
  border: 2px solid #133085;
  padding: 0.3em;
  width: 35em;
  margin-bottom: 0.5em;
}

.idea-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.idea {
  border-bottom: 2px solid #133085;
  background-color: #fff;
  margin-top: 0.5em;
  width: 35em;
}

p {
  color: #919599;
  line-height: 1.2em;
  margin: 0.5em;
  padding: 5px 0;
}

.idea-header {
  display: flex;
  margin: 0.5em;
}

.idea-header h3 {
  flex: 1;
  padding: 5px 0;
}

.remove-idea {
  background: url(../img/delete.svg) no-repeat;
  border: none;
  height: 20px;
  justify-content: flex-end;
  width: 20px;
}

@media (max-width: 650px) {
  #title-input, #body-input, #save-button, #search-input, .idea {
    width: 90%;
  }
}
